header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eb4b89;
  padding: 20px;
}

header h1 {
  width: 70%;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  font-size: 25px;
}
