.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-div {
  padding: 0 0 20px;
  width: fit-content;
  margin: auto;
}

.search-div > * {
  height: 40px;
  border: none;
  padding: 0 10px;
}

.search-div button {
  padding: 0 20px;
  color: aliceblue;
  background: #fc5293;
  box-shadow: 2px 2px 2px #00000050;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1px;
  row-gap: 1px;
  text-align: end;
}

.grid-item {
  max-width: 195px;
  padding: 10px;
  background-color: #dc4680;
}

.grid-item:hover {
  background: #cf4278;
}

.grid-item h2 {
  font-size: 18px;
}

.grid-item p {
  font-size: 16px;
}

.details {
  font-size: 18px;
  margin: 8px 5px 18px;
}
